{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/index.css">
{% endblock %}
{% block body %}
<h1> a </h1>
<button popovertarget="mypopover">Add</button>
<div popover id="mypopover">
  <form method="get" action="/search">
    <label>
      Search 
      <input name="query">
    </label>
    <label>
	Source 
	<select id="source" name="source">
	    {% for source in sources %}
	    <option value="{{ source }}">{{ source }}</option>
	    {% endfor %}
	</select>
    </label>
    <button>Search</button>
  </form>
</div>
{% endblock %}
