.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top .left {
  justify-content: start;
  align-content: center;
  align-items: center;
  align-self: center;
}

.top .right {
  justify-content: end;
  align-content: center;
  align-items: center;
  align-self: center;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.items .itemcard {
  background-color: #444444;
  grid-row: 1/4;
  margin: 5px;
}
