#root {
  padding: 2rem;
  text-align: center;
}

.ui {
    background-color: #323232;
}

.ui .top .left {
    display: flex;
    gap: 0.5em;
    padding-left: 1.25em;
}

.ui .top .right{
    display: flex;
    margin-left: auto;
}
